# Database
MYSQL_PASSWORD=wordpress_password_change_me
MYSQL_ROOT_PASSWORD=root_password_change_me

# WordPress URLs (Docker / remote)
WORDPRESS_URL=https://lawyer-molochko.com.ua
WORDPRESS_SITEURL=https://lawyer-molochko.com.ua
